.App {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#new-quote {
  margin-right: 1rem;
}

#quote-box {
  width: 50vw;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#quote-text {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}

#quote-author {
  width: 100%;
  text-align: end;
  padding: 0.5rem;
}

#quote-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#tweet {
  background-color: #1DA1F2;
  border: none;
}

@media only screen and (max-width: 400px) {
  #quote-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #quote-text h1 {
    font-size: 1.2rem;
  }

  #quote-author h3 {
    font-size: 1rem;
  }

  .btn {
    width: 5rem;
    margin: 1rem 0;
  }

  #new-quote {
    margin: 0;
  }

}